body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    color: #ffcc00;
}

main {
    padding: 20px;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game {
    background-color: #222;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    transition: transform 0.2s;
}

.game img {
    width: 100%;
    border-radius: 10px;
}

.game h3 {
    margin: 10px 0 0;
    font-size: 1em;
}

.game:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #ffcc00;
}

.login-container {
    background-color: #111;
    border: 3px solid #ffcc00;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
}

h1 {
    font-size: 2em;
    color: #ffcc00;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 1em;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    font-size: 1em;
    background-color: #222;
    color: #fff;
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: #ffcc00;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}

p {
    margin-top: 20px;
    font-size: 1em;
}

p a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #ffaa00;
}